<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona Domowa</title>
</head>
<body>
<form th:action="@{/login-process}" method="post">
    <label for="inputUsername">Username:</label>
    <input id="inputUsername" th:placeholder="Podaj email"
           th:required="required" th:name="username"/>
</form>
<form action="/rejestracja">
    <button class="btn btn-success" type="submit">Nie masz konta? Zarejestruj sie</button>
</form>
<form action="/przypomnieniehasla">
    <button class="btn btn-success" type="submit">Zapomniales hasla?</button>
</form>
</body>
</html>