<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Witaj w mojej aplikacji</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
<h1>Witajcie!</h1>
<form action="/users">
    <button class="btn btn-success" type="submit">Pokaż użytkowników</button>
</form>
<form action="/adduser">
    <button class="btn btn-danger" type="submit">Dodaj użytkownika</button>
</form>
</body>
</html>